body
{
	background-color: cornsilk;
}
h1
{
	color: beige;
	background-color: chocolate;
	font-family: Papyrus;
	font-size: 50px;
	text-align: left;
	border: 2px dashed yellow;
}

h4
{
	color: royalblue;
	background-color: yellow;
	font-family: Papyrus;
	font-size: 50px;
	text-align: left;
	border: 2px dashed black;
}
p
{
color: white;
text-align: right;
}

table,tr,th,td
{
	border: solid 2px seagreen;
	border-collapse: collapse;
}

tr
{
	border: solid 2px pink;
	border-collapse: collapse;
}
th
{
	border: solid 2px black;
	border-collapse: collapse;
}
td
{
	border: solid 2px seagreen;
	border-collapse: collapse;
}